extends ../layouts/common

block content
    h1 View user with id #{user.id}

    p
        div
            b Name 
            span= user.name
        div
            b Age:
            span= user. age